body {
	background-color: #000000 !important;
	color: #ffffff !important;
}

a:hover {
	color: #008bff;
}

.table th {
	border-top: 1px solid #505868 !important;
}

.table thead th {
	border-bottom: 2px solid #505868 !important;
}

.table td {
	border-top: 1px solid #505868 !important;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(80, 84, 104, 0.4);
}

.page-link {
	background-color: #2A2A2A;
	border-color: #666;
	color: #ffffff;
}

.page-item.disabled .page-link {
	background-color: #000000 !important;
	border-color: #666;
	color: #AAA;
}

.card {
	background-color: #202020;
}

.close, .close:focus, .close:hover {
	color: #ffffff;
}

.modal-content {
	background-color: #202020;
}

.dropdown-menu {
	background-color: #202020;
}

#navbar .dropdown-item {
	color: #ffffff !important;
}

#navbar .dropdown-item:hover {
	background-color: #878b91 !important;
}

#coinselect .dropdown-item {
	color: #ffffff !important;
}

#coinselect .dropdown-item:hover {
	background-color: #878b91 !important;
}

.account-wall {
	background-color: #202020;
	box-shadow: 0 2px 5px 0 rgba(108, 249, 132, 0.5);
}

.dropdown-divider {
	border-top: 1px solid #666;
}

.modal-header {
	border-bottom: 1px solid #666;
}

.modal-footer {
	border-top: 1px solid #666;
}

.form-control {
	background-color: #202020;
	border-color: #666;
	color: #ffffff;
}

.form-control:focus {
	background-color: #202020;
	color: #ffffff;
}

.form-control[readonly] {
	background-color: #202020;
}

.list-group-item {
	background-color: #202020;
	border: 1px solid rgba(255, 255, 255, 0.125);
}

a.list-group-item:not(.active):hover {
	background-color: #878b91 !important;
}

a.list-group-item:hover {
	background-color: #727b89 !important;
}

a.list-group-item:not(.active) {
	color: #ffffff !important;
}

samp {
	background-color: #202020;
}

.amt {
	background-color: #202020;
	color: #ffffff;
}

.amt:hover {
	border-color: #AAA;
}

.poscolor {
	color: #3df146;
}

.negcolor {
	color: #ff3f66;
}

.pricegroup {
	border-image: linear-gradient(to right, #556171, #000000) 1 stretch;
}

table.b tr:nth-child(even) {
	background-color: #405040;
}
table.b tr:nth-child(odd) {
	background-color: #4A5A4A;
}

table.s tr:nth-child(even) {
	background-color: #504040;
}
table.s tr:nth-child(odd) {
	background-color: #5A4A4A;
}

table.h tr:nth-child(even) {
	background-color: #202020;
}
table.h tr:nth-child(odd) {
	background-color: #2A2A2A;
}

.htab {
	background-color: #2A2A2A;
}

.htabselected {
	background-color: #000000 !important;
}

.qbar.s {
	background-color: #ad5f5f;
}

.qbar.b {
	background-color: #5fad5f;
}

.qtbar.s {
	background-color: #7f5f5f;
}

.qtbar.b {
	background-color: #5f7f5f;
}

.avail {
	color: #9690e8;
}

.availablebalance {
	color: #9690e8;
}

.orderbookorders {
	color: #ffffff !important;
}

.userorderitem a {
	color: #ffffff;
}

/*#bidorderbook .orderbookorder:nth-child(even) {
    background-color: #405040;
}

#bidorderbook .orderbookorder:nth-child(odd) {
    background-color: #4A5A4A;
}

#askorderbook .orderbookorder:nth-last-child(even) {
    background-color: #504040;
}

#askorderbook .orderbookorder:nth-last-child(odd) {
    background-color: #5a4a4a;
}*/

#bidorderbook .vbar {
	background-color: #5fad5f;
}

#bidorderbook .vtbar {
	background-color: #5f7f5f;
}

#askorderbook .vbar {
	background-color: #ad5f5f;
}

#askorderbook .vtbar {
	background-color: #7f5f5f;
}

.poscolor.vbar {
	background-color: #314d31;
}

.poscolor.vtbar {
	background-color: #5f7f5f;
}

.negcolor.vbar {
	background-color: #512a2a;
}

.negcolor.vtbar {
	background-color: #7f5f5f;
}

.userorderrow .poscolor.vtbar {
	background-color: #2e482e !important;
}

.userorderrow .poscolor.ftbar {
	background-color: #23251f !important;
}

.userorderrow .negcolor.vtbar {
	background-color: #573737 !important;
}

.userorderrow .negcolor.ftbar {
	background-color: #271919 !important;
}

.notloggedinbutton {
	color: #ffffff;
}